
{{#loggedin}}
<div id="links" class="nav-left">
    <a href="#" class="brand" onclick="loadHome()">
        <img src="./images/logo.svg" alt="easyshop logo">
        <span class="brand-name">easyshop</span>
    </a>
    <nav class="nav-links">
        <a href="#" onclick="loadHome()"><i class="fa-solid fa-house"></i><span>Home</span></a>
        <a href="#" onclick="editProfile()"><i class="fa-solid fa-user"></i><span>Profile</span></a>
        <a href="#" onclick="showCart()"><i class="fa-solid fa-bag-shopping"></i><span>Cart</span></a>
    </nav>
</div>

<div class="nav-right">
    <span class="welcome">Hi,&nbsp;<span class="username">{{username}}</span></span>
    <a href="#" class="logout-link" onclick="userService.logout();return false;">Logout</a>
    <div class="cart" onclick="showCart()">
        <i class="fa-solid fa-cart-shopping"></i>
        <div id="cart-items">0</div>
    </div>
</div>
{{/loggedin}}
{{#loggedout}}
<div id="links" class="nav-left">
    <a href="#" class="brand" onclick="loadHome()">
        <img src="./images/logo.svg" alt="easyshop logo">
        <span class="brand-name">easyshop</span>
    </a>
    <nav class="nav-links">
        <a href="#" onclick="loadHome()"><i class="fa-solid fa-house"></i><span>Home</span></a>
    </nav>
</div>

<div class="nav-right">
    <a href="#" class="btn-login" onclick="showLoginForm();return false;">
        <i class="fa-solid fa-right-to-bracket"></i> Login
    </a>
</div>
{{/loggedout}}
