{{#products}}
<div class="product">
    <div class="photo">
        <img src="./images/products/{{imageUrl}}" alt="{{name}}"
             onclick="showImageDetailForm(`{{name}}`,'./images/products/{{imageUrl}}')"
        >
        <h4 class="price">${{price}}</h4>
    </div>
    <div class="product-body">
        <h4 class="product-name">{{name}}</h4>
        <p>{{description}}</p>
    </div>
    <div class="add-button">
        <button class="btn btn-success" onclick="cartService.addToCart({{productId}})">
            <i class="fa-solid fa-cart-plus"></i> Add to Cart
        </button>
    </div>
</div>
{{/products}}
